<main class="main" [attr.data-open]="open()">
  <aside>
    <header>
      <div class="flex gap-2" >
        <img src="logo.svg" alt="Logo" width="30" />
        <h1 class="w-full text-start text-3xl text-primary font-bold" >oTrack</h1>
      </div>
    </header>
    <section>
      <span>Resources</span>
      <ul>
        @for(item of menuButtons; track item.title){
          <li>
            <button 
              hlmToggle [attr.data-state]="item.isActive?'on':'off'" 
              (click)="navigate(item.url)"
            >
              <i-lucide 
                [color]="item.isActive?'var(--color-foreground)':'var(--color-muted-foreground)'" 
                [size]="16" 
                [img]="item.icon" 
              />
              {{open()?item.title:''}}
            </button>
          </li>
        }
      </ul>
    </section>
    <footer>

    </footer>
  </aside>
  <section>
    <header>
      <button hlmBtn toggleSidebar [variant]="'ghost'" [size]="'icon'" >
        <lucide-icon [size]="16" [strokeWidth]="(2.25)" [img]="PanelLeftIcon" />
      </button>
      <div data-orientation="vertical" role="none" class="shrink-0 bg-border w-[1px] mr-2 h-4"></div>
      <h1>Ordens de Serviço</h1>
    </header>
    <main>
      <router-outlet />
    </main>
  </section>
</main>

